<%= form_for(@user) do |f| %>
	<div>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>
	<div>
		<%= f.label :full_name %>
		<%= f.text_field :full_name %>
	</div>
	<div>
		<%= f.label :nursery_id, "Guarderias" %>
		<%= f.collection_select(:nursery_id, Nursery.find(:all), :id, :name) %>
	</div>
	<br>
	<br>
	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>